body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0px;
}

header {
    text-align: center;
}

header img {
    width: 100%;
    display: block;
}

nav {
    background-color: #242697;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0px; 
}


nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*espacio alrededor el texto entre la caja*/

a{
    padding: 10px;
}

/*Efecto del mouse sobre el icono hover*/

a:hover{
    background-color: #2d9ec0;
    padding: 10px;
    border-radius: 10px;
}

section{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

/*estilo de las imagenes quienes somos*/
#imagen{
    border-radius:50%;
    width: 200px;
    height: 200px;
}

.tienda { /*sección de la tienda*/
    background-color: #f2ecec;
    margin: 0px 150px 20px 150px;
    text-align: center;
    padding: 30px;
}

.productos{
    text-align: center;
    display: flex;
    justify-content: center;
}

.producto1{
    padding: 15px;
    width: 200px;
}

.producto1 img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}

button{
    background-color: #242697;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
}

button:hover{
    background-color: #2d9ec0;
    padding: 10px;
    border-radius: 15px;
}

.producto2{
    padding: 15px;
    width: 200px;
}

.producto2 img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.producto3{
    padding: 15px;
    width: 200px;
}

.producto3 img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.formulario{
    text-align: center;
}

.form{ /*boton del formulario*/
    background-color: #4eae54;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    box-shadow: none
}

input, textarea{
    width: 37%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
}

footer{
    background-color: #333333;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}